

h1 {
    text-align: center;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 8.5vh;
    color: black;
    height: 0;
}

@keyframes fadein-h1 {
    0% {color: rgba(1,1,1,0);}
    100% {color: black;}
}

h1 {
    animation-name: fadein-h1;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

h2{
  color: black;
  font-family: "Roboto",sans-serif;
  font-size: 1.2vh;
  font-weight: 500;
  margin-bottom: .2vh;
  /* margin: 10px 0 0 10px; */
  white-space: nowrap;
  overflow: hidden;
  width: 31em;
  animation: type 4s steps(60, end);
}

h2:nth-child(2){
  animation: type2 8s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes fadein {
    0% {color: rgba(1,1,1,0);}
    100% {color: white;}
    0% {background-color: rgba(1,1,1,0);}
    100% {background-color: black;}
}

h5 {
    font-family: 'Jim Nightshade', cursive;
    font-size: 2.5vh;
    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: 1;
    color: white;
    background-color: black;
    margin-top: 10%;
}

h6 {
    text-align: center;
    font-weight: normal;
    font-family: monospace;
    font-size: 1.15vh;
    background: black;
    color: white;
    margin-top: 0;
    margin-bottom: 1vh;
    padding: 0;
    border: 0;

}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.block-1 {
    background-image: url('palm.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;

}
.block-1-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.block-1-1-1 {
    background-position: center;
    background-size: cover;
    height: 10%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 6vh;
}

.block-1-1-2 {
    background-position: center;
    background-size: cover;
    height: auto;
    width: 85%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.block-1-1-2-1 {
    /* background-image: url('pattern.jpg'); */
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.block-1-1-2-1-1 {
    background-color: rgba(255,255,255,.7);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

@keyframes fadein-block {
    0% {background-color: rgba(255,255,255,.1);}
    100% {background-color: rgba(255,255,255,.7);}
}

.block-1-1-2-1-1 {
    animation-name: fadein-block;
    animation-duration: 5s;
    animation-iteration-count: 1;
}




.block-1-1-2-1-1-1 {
    background-position: center;
    background-size: cover;
    height: 20vh;
    width: 80vh;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 3vh;
}

.block-1-1-2-1-1-1-1, .block-1-1-2-1-1-1-1-1 {
    background-position: center;
    background-size: cover;
    height: auto;
    width: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2%;
}

.block-1-1-2-1-1-1-1-2 {
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0;
    margin-bottom: 6%;
}

.block-1-1-2-1-1-2 {
  position: relative;
  width: 80%;
}

.block-1-1-2-1-1-2 img {
  display: flex;
  width: 100%;
  height: auto;
}

.block-1-1-2-1-1-2:hover .block-1-1-2-1-1-2-1 {
  opacity: 1;
}

.block-1-1-2-1-1-2-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.block-1-1-2-1-1-2-1-1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-1-1-2-1-1-3 {
    background-position: center;
    background-size: cover;
    height: 17vh;
    width: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.block-1-1-3 {
    background-position: center;
    background-size: cover;
    height: auto;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.block-1-1-3-1 {
    background-position: center;
    background-size: cover;
    height: 8vh;
    width: 60vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1vh;
}

.block-1-1-3-1-all {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.block-1-1-3-1-all img {
    height: 5vh;
    width: auto;
    margin: .75vh;
}

.block-1-1-3-1-all img:hover {
    opacity: .7;
    height: 6vh;
}
